.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-backgraund);
}
.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: auto;
}
.header__navigation a {
	float: right;
    width: 200px;
    padding-top: 1.2em;
    color: var(--color-links);
    text-align: center;
	font-weight: bold;
    text-decoration: none;
}
.header__navigation a:hover {
    color: var(--color-hover);
    text-decoration: underline;
}
.header__ligo-img{
    width: 300px;
    float: left;
}
