ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.header {
    display: inline;
}
.header__ligo-img{
    width: 300px;
    float: left;
}
.header__navigation-links li {
	float: right;
    width: 100px;
    padding-top: 1em;
}
.header__navigation-links a {
	display: block;
    color: black;
	font-weight: bold;
	text-align: center;
}
.header__navigation-links li a:hover {
	color: white;
}
.main__title, .email {
    text-align: center;
}
